.main {
    .add-book-section {
        width: 100%;
        margin: auto;

        .add-book-form {
            width: 100%;

            label {
                font-size: 1.1rem;
                color: rgb(78, 78, 78);
            }

            // left
            .book-details {
                padding: 14px;

                input {
                    border: 1px solid rgb(202, 202, 202);
                }

                .description {
                    textarea {
                        max-height: 200px;
                        height: 150px;
                        border: 1px solid rgb(202, 202, 202);
                    }
                }

                .genre {
                    position: relative;

                    .genre-top {
                        .action {
                            height: fit-content;
                        }
                    }

                    .genre-container {
                        height: 200px;
                        height: 0;
                        overflow-y: scroll;

                        .form-check{
                            display: flex;
                            flex-direction: row;
                        }
                    }
                    
                    /* For webkit-based browsers */
                    ::-webkit-scrollbar {
                        width: 6px;
                        /* Adjust the width as needed */
                    }

                    ::-webkit-scrollbar-thumb {
                        background: #888;
                        /* Color of the scrollbar thumb */
                        border-radius: 10px;
                        /* Roundness of the scrollbar thumb */
                    }


                    ::-webkit-scrollbar-track {
                        background: #f1f1f1;
                        /* Color of the scrollbar track */
                    }
                }
            }

            .right {
                height: fit-content;

                .existing-photo-container{
                    .existing-photo{
                        aspect-ratio: 1/1;
                        width: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                }

                .book-images {
                    .input-group {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 0.7rem;

                        label {
                            font-size: 1.2rem;
                        }

                        input[type=file] {
                            width: 100%;
                        }
                    }
                }

                .operation {
                    .btn {
                        width: 100%;
                        color: white;
                        background-color: var(--brand-color);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .add-book-form {
        .book-details {
            border: 1px solid whitesmoke;
            width: 100%;

            .publisher,
            .publication,
            .genre,
            .edition,
            .actual-price,
            .offer-price {
                width: 100%;
            }
        }

        .right {
            border: 1px solid whitesmoke;
            width: 35%;
        }
    }
}

@media (min-width: 992px) {
    .add-book-form {
        .book-details {
            width: 65%;
        }

        .right {
            width: 35%;
        }
    }
}

@media (min-width: 1188px) {
    .add-book-section {
        max-width: 900px;
        margin: auto;
    }
}