.main {
  padding-bottom: 3rem;
}
.main .cart-status-container #current-cart-btn,
.main .cart-status-container #pending-cart-btn,
.main .cart-status-container #completed-cart-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px 12px;
  color: rgb(182, 181, 181);
  border: 1px solid rgb(182, 181, 181);
}
.main .cart-status-container #current-cart-btn:hover,
.main .cart-status-container #pending-cart-btn:hover,
.main .cart-status-container #completed-cart-btn:hover {
  color: black;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(224, 224, 224);
}
.main .cart-status-container .active-cart {
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(224, 224, 224);
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(236, 236, 236);
  }
  100% {
    background-color: rgb(204, 204, 204);
  }
}
.cart-loading-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cart-loading-container .loading-table {
  width: 75%;
  height: 300px;
  padding: 0.5rem 1rem 0 0;
  border-radius: 1rem;
}
.cart-loading-container .loading-table .loading-heading, .cart-loading-container .loading-table .loading-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.cart-loading-container .loading-table .loading-heading p, .cart-loading-container .loading-table .loading-content p {
  width: 24%;
  height: 0.8rem;
  border-radius: 0.2rem;
  animation: skeleton-loading 1s linear infinite alternate;
}
.cart-loading-container .loading-checkout {
  width: 25%;
  height: 150px;
  border-radius: 0.4rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.pending-cart-status-div {
  text-align: center;
}
.pending-cart-status-div .pending-cart-status {
  max-width: 60px;
  flex-grow: 1;
}
.pending-cart-status-div .pending-cart-status .status-image-div {
  border-radius: 50%;
  overflow: hidden;
  padding: 12px;
  background-color: rgb(242, 242, 253);
  margin-bottom: 6px;
}
.pending-cart-status-div .pending-cart-status .status-image-div img {
  width: 100%;
  filter: grayscale(100%);
  aspect-ratio: 1/1;
}
.pending-cart-status-div .pending-cart-status .status-image-div .completed-status-image {
  filter: grayscale(0%);
}

.current-cart-section {
  gap: 2rem;
}

.cart-detail {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border-top: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  box-shadow: -3px 3px 2px whitesmoke;
  overflow-x: scroll;
}
.cart-detail::-webkit-scrollbar {
  display: none;
}
.cart-detail .cart-table {
  width: 100%;
  border: 0px solid white;
}
.cart-detail .cart-table thead {
  border: 0px solid whitesmoke;
}
.cart-detail .cart-table thead tr th:nth-child(1) {
  padding-left: 6px;
}
.cart-detail .cart-table thead tr th {
  padding: 6px 6px 6px 0;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  font-weight: normal;
  color: grey;
  vertical-align: top;
}
.cart-detail .cart-table tbody {
  width: 100%;
}
.cart-detail .cart-table tbody tr th {
  padding: 0;
  padding-top: 6px;
  padding-left: 6px;
  font-weight: normal;
}
.cart-detail .cart-table tbody tr td {
  padding: 6px 6px 6px 0;
  vertical-align: top;
}
.cart-detail .cart-table tbody tr td .book-image {
  width: 60px;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 2/3;
}
.cart-detail .cart-table tbody tr td .remove {
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  align-items: center;
  text-align: center;
  padding: 0.6rem;
  border-radius: 6px;
  display: flex;
  cursor: pointer;
  border: 1px solid rgb(185, 184, 184);
}
.cart-detail .cart-table tbody tr td .remove:hover {
  background-color: black;
  border: initial;
}
.cart-detail .cart-table tbody tr td .remove i {
  margin: auto;
  color: rgb(185, 184, 184);
}
.cart-detail .cart-table tbody tr td:hover {
  background-color: white;
}
.cart-detail .cart-table tbody tr .title {
  font-weight: bold;
  font-size: 1.1rem;
}
.cart-detail .cart-table tbody tr .price {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--success-color);
}

.checkout {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  color: white;
  background-image: linear-gradient(to right, #7C7FC3, #3B3D5D);
}
.checkout .checkout-btn-div .btn {
  background-color: var(--brand-color);
}
.checkout .payment-partner-div .payment-partner img {
  border-radius: 6px;
  width: 60px;
}

@media (min-width: 1000px) {
  .checkout {
    max-width: 330px;
  }
}
@media (min-width: 1188px) {
  .main .current-cart-section .cart-detail {
    width: 100%;
  }
}/*# sourceMappingURL=cart.css.map */