.book-status-container {
    .book-status {
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: rgb(230, 228, 228);

        p {
            margin: 0;
        }

        &:hover {
            background-color: black;
            color: white;
        }
    }

    .active-book-status {
        background-color: black;
        color: white;
    }
}