.book-status-container {
    .book-status {
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        p{
            margin: 0;
        }
    }
    
    .active-book-status {
        background-color: black;
        color: white;
    }
    
    .inactive-book-status {
        background-color: rgb(207, 207, 207);
        &:hover {
            background-color: black;
            color: white;
        }
    }
}