.nav {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;

    .container {
        .logo-section {
            align-items: center;
            gap: 8px;

            #brand-icon {
                width: 36px;
                height: 36px
            }

            #title {
                background-color: transparent;
            }
        }

        .menu-section-div {
            .search-div {
                gap: 2px;
                border-radius: 6px;
                background-color: whitesmoke;

                i {
                    padding-left: 6px;
                }

                input {
                    font-size: 12px;
                    height: 30px;
                    width: 180px;
                    padding-left: 6px;
                    padding-right: 6px;
                    background-color: transparent;
                    outline: none;
                }
            }

            // cart
            .cart-div {
                width: 24px;

                .cart-count-div {
                    position: relative;
                    top: -10px;
                    left: -6px;

                    #cart-counter {
                        font-size: 13px;
                        color: red;
                    }
                }
            }
        }

        .signin-btn {
            background-color: var(--brand-color);
            border: none;
            color: white;
            font-size: 14px;
            padding: 6px 12px;
        }
    }
}