.main {
    .aside {
        position: relative;
        width: 100%;

        .profile-section {
            position: sticky;
            top: 6rem;
            border-radius: 8px;
            border: 1px solid rgb(224, 224, 224);

            .profile-top {
                .profile-image {
                    width: 70%;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    border-radius: 50%;
                }

                .name-status {
                    .status-div {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                    }
                }
            }

            .profile-bottom {
                .profile-detail {
                    gap: 1rem;
                    justify-content: space-between;

                    .title-div {
                        color: grey;
                        width: max-content;

                        i {
                            text-align: center;
                            min-width: 1.2rem;
                        }
                    }
                }
            }

            .btn {
                color: var(--brand-color);
                background-color: white;
                border: 1.5px solid var(--brand-color);

                &:hover {
                    color: white;
                    background-color: var(--brand-color);
                }
            }
        }
    }

    .article {
        width: 100%;

        .contents {
            .tab-container {
                .tab {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                    padding: 0.4rem 1rem;
                    padding-top: 0.8rem;
                    border: 1px solid rgb(177, 177, 177);
                }

                .active-tab {
                    background-color: grey;
                    border: none;
                    color: white;
                }

                .inactive-tab {
                    &:hover {
                        background-color: grey;
                        color: white;
                    }
                }
            }

            // change password content
            .password-change-content {
                .password-change-form {
                    .btn {
                        color: white;
                        padding: 6px 2rem;
                        background-color: var(--brand-color);
                        width: fit-content;
                    }
                }
            }

            // edit profile
            .edit-profile-content {
                .edit-profile-form {
                    .dob-gender {
                        .dob-div {
                            input {
                                height: 50%;
                                border: 1px solid rgb(199, 198, 198);
                                border-radius: 6px;
                            }
                        }
                    }

                    #update-profile-btn {
                        color: white;
                        width: fit-content;
                        padding: 6px 3rem;
                        background-color: var(--brand-color);
                    }
                }
            }

            // document
            .document-section {
                .document-form {
                    .btn {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

@media (min-width:992px) {
    .main {
        .aside {
            width: 240px;
        }

        .article {
            width: calc(100% - 240px);

            .contents {
                .tab-container {
                    .tab {
                        flex-direction: row;
                        column-gap: 0.8rem;
                        padding-top: 0.4rem;
                        align-items: center;
                    }
                }
            }
        }
    }
}