* {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

:root {
  --brand-color: rgb(240, 134, 36);
  --warning-color: #C79D54;
  --danger-color: #cc3333;
  --success-color: #28ad49;
  --neutral-lighest-color: #f8f8f8;
  --neutral-light-color: #666666;
  --neutral-normal-color: #4B4B4B;
  --neutral-dark-color: #1A1A1A;
  --shadow-color: rgb(230, 230, 230);
  /* font size */
  --fs-small: 0.75rem;
  --fs-form: 0.95rem;
  --fs-normal: 1rem;
  --fs-large: 1.25rem;
  --fs-larger: 1.75rem;
  --fs-largest: 2rem;
  /* shadow */
  --shadow-style: -2px 2px 4px 0 var(--shadow-color);
  --fixed-z-index: 100;
}

a {
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

body {
  margin: 0 auto;
  position: relative;
  box-sizing: inherit;
}

.main {
  min-height: 80vh;
  display: flex;
  margin-top: 7rem;
  flex-direction: column;
}

.input[type=text] {
  background-color: red;
}

.f-reset {
  padding: 0;
  margin: 0;
}

.section {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.empty-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
  padding: 2rem 0;
}
.empty-div img {
  width: 200px;
}
.empty-div .empty-message {
  font-size: 1.2rem;
  color: var(--danger-color);
}

.error-message {
  display: none;
}

.empty-context-container {
  display: flex;
}
.empty-context-container img {
  width: 100%;
  max-width: 200px;
}

.table {
  width: 100%;
}
.table thead tr th {
  vertical-align: top;
}
.table tbody tr th,
.table tbody tr td {
  vertical-align: top;
}
.table tbody tr th abbr,
.table tbody tr td abbr {
  text-decoration: none;
}
.table tbody tr th a,
.table tbody tr td a {
  color: black;
}
.table tbody tr th:hover,
.table tbody tr td:hover {
  cursor: default;
}
.table #table-foot tr td {
  color: var(--brand-color);
  text-align: center;
}

.brand-color {
  color: var(--brand-color);
}

.brand-bg {
  background-color: var(--brand-color);
}

.btn-brand {
  border-radius: 0.4rem;
  background-color: var(--brand-color);
  color: white;
}

.btn-outline-brand {
  border-radius: 0.4rem;
  background-color: white;
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}
.btn-outline-brand:hover {
  color: white;
  background-color: var(--brand-color);
}

.fit-content {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#custom-popup-alert {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 0 1rem rgb(216, 215, 215);
  z-index: 200;
}/*# sourceMappingURL=style.css.map */