.main .add-book-section {
  width: 100%;
  margin: auto;
}
.main .add-book-section .add-book-form {
  width: 100%;
}
.main .add-book-section .add-book-form label {
  font-size: 1.1rem;
  color: rgb(78, 78, 78);
}
.main .add-book-section .add-book-form .book-details {
  padding: 14px;
}
.main .add-book-section .add-book-form .book-details input {
  border: 1px solid rgb(202, 202, 202);
}
.main .add-book-section .add-book-form .book-details .description textarea {
  max-height: 200px;
  height: 150px;
  border: 1px solid rgb(202, 202, 202);
}
.main .add-book-section .add-book-form .book-details .genre {
  position: relative;
  /* For webkit-based browsers */
}
.main .add-book-section .add-book-form .book-details .genre .genre-top .action {
  height: -moz-fit-content;
  height: fit-content;
}
.main .add-book-section .add-book-form .book-details .genre .genre-container {
  height: 200px;
  height: 0;
  overflow-y: scroll;
}
.main .add-book-section .add-book-form .book-details .genre .genre-container .form-check {
  display: flex;
  flex-direction: row;
}
.main .add-book-section .add-book-form .book-details .genre ::-webkit-scrollbar {
  width: 6px;
  /* Adjust the width as needed */
}
.main .add-book-section .add-book-form .book-details .genre ::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
}
.main .add-book-section .add-book-form .book-details .genre ::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the scrollbar track */
}
.main .add-book-section .add-book-form .right {
  height: -moz-fit-content;
  height: fit-content;
}
.main .add-book-section .add-book-form .right .existing-photo-container .existing-photo {
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
}
.main .add-book-section .add-book-form .right .existing-photo-container .existing-photo img {
  width: 100%;
}
.main .add-book-section .add-book-form .right .book-images .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}
.main .add-book-section .add-book-form .right .book-images .input-group label {
  font-size: 1.2rem;
}
.main .add-book-section .add-book-form .right .book-images .input-group input[type=file] {
  width: 100%;
}
.main .add-book-section .add-book-form .right .operation .btn {
  width: 100%;
  color: white;
  background-color: var(--brand-color);
}

@media (min-width: 768px) {
  .add-book-form .book-details {
    border: 1px solid whitesmoke;
    width: 100%;
  }
  .add-book-form .book-details .publisher,
  .add-book-form .book-details .publication,
  .add-book-form .book-details .genre,
  .add-book-form .book-details .edition,
  .add-book-form .book-details .actual-price,
  .add-book-form .book-details .offer-price {
    width: 100%;
  }
  .add-book-form .right {
    border: 1px solid whitesmoke;
    width: 35%;
  }
}
@media (min-width: 992px) {
  .add-book-form .book-details {
    width: 65%;
  }
  .add-book-form .right {
    width: 35%;
  }
}
@media (min-width: 1188px) {
  .add-book-section {
    max-width: 900px;
    margin: auto;
  }
}/*# sourceMappingURL=add-book.css.map */