.book-container {
    width: 100%;
    transition: 0.4s;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;

    &:hover {
        transition: 0.4s;
        border-inline-start: initial;
    }

    .book-image {
        width: 100%;
        min-width: 131px;
        aspect-ratio: 3/4;
        border-radius: 1rem;
        overflow: hidden;
    }

    .book-details {
        display: flex;
        flex-direction: column;
        padding: 0.6rem;
        row-gap: 0.5rem;

        p {
            margin: 0;
        }

        .book-title {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .book-title {
                font-size: 1.2rem;
                font-weight: bold;
            }

            i {
                color: black;
                cursor: pointer;
            }
        }

        .book-description-container {
            height: 3rem;
            overflow: hidden;
        }

        .book-price {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--success-color);
        }

        .btn {
            width: fit-content;
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
        }
    }
}


@media screen and (min-width: 768px) {
    .book-container {
        width: 49%;
        flex-direction: row;

        .book-image {
            max-width: 170px;
        }
    }
}