.main {
  margin-top: 4rem;
}
.main .title-rating-count-container .rating-count-container .rating-container img {
  width: 14px;
  height: 14px;
}
.main .book-detail-container .book-image-container {
  width: 100%;
  overflow: hidden;
}
.main .book-detail-container .book-image-container .book-image {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .book-detail-container .book-image-container .top {
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
}
.main .book-detail-container .book-image-container .bottom .book-image {
  width: 33.3333333333%;
  aspect-ratio: 2/2;
}
.main .book-detail-container .all-detail-container {
  width: 100%;
}
.main .book-detail-container .all-detail-container .genre-container .genre-list .genre {
  padding: 8px 12px;
  text-align: center;
  border-radius: 6px;
}
.main .book-detail-container .all-detail-container .author-container .author-list .author {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid rgb(223, 223, 223);
  background-color: white;
}
.main .book-detail-container .all-detail-container .misc-container .misc-div {
  padding: 8px 4px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.main .book-detail-container .all-detail-container .misc-container .misc-div:hover {
  background-color: whitesmoke;
}
.main .book-detail-container .all-detail-container .misc-container .misc-div .title {
  min-width: 25%;
}
.main .book-detail-container .all-detail-container .operation-container {
  gap: 1rem;
  flex-direction: column-reverse;
}
.main .book-detail-container .all-detail-container .operation-container #request-btn,
.main .book-detail-container .all-detail-container .operation-container #wishlist-btn,
.main .book-detail-container .all-detail-container .operation-container #cart-btn {
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.main .book-detail-container .all-detail-container .operation-container #request-btn {
  color: var(--brand-color);
  border: 0.2rem solid var(--brand-color);
}
.main .book-detail-container .all-detail-container .operation-container #request-btn:hover {
  color: white;
  background-color: var(--brand-color);
}
.main .book-detail-container .all-detail-container .operation-container #wishlist-btn,
.main .book-detail-container .all-detail-container .operation-container #cart-btn {
  border: 1px solid rgb(189, 189, 189);
}
.main .book-detail-container .all-detail-container .operation-container #wishlist-btn:hover,
.main .book-detail-container .all-detail-container .operation-container #cart-btn:hover {
  background-color: rgb(235, 233, 233);
}

@media (min-width: 768px) {
  .main {
    margin-top: 6rem;
  }
  .main .book-detail-container .book-image-container .top {
    width: 80%;
    flex-grow: 1;
  }
  .main .book-detail-container .book-image-container .bottom {
    width: 20%;
  }
  .main .book-detail-container .book-image-container .bottom .book-image {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .main .book-detail-container .all-detail-container .misc-container .misc-div {
    width: 50%;
  }
  .main .book-detail-container .all-detail-container .operation-container {
    gap: 1rem;
  }
  .main .book-detail-container .all-detail-container .operation-container #request-btn,
  .main .book-detail-container .all-detail-container .operation-container #wishlist-btn,
  .main .book-detail-container .all-detail-container .operation-container #cart-btn {
    padding: 6px 12px;
  }
}
@media (min-width: 992px) {
  .main .book-detail-container .book-image-container {
    width: 340px;
  }
  .main .book-detail-container .book-image-container .top {
    width: 100%;
  }
  .main .book-detail-container .book-image-container .bottom {
    width: 100%;
  }
  .main .book-detail-container .book-image-container .bottom .book-image {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .main .book-detail-container .all-detail-container .misc-container .misc-div {
    width: 50%;
  }
  .main .book-detail-container .all-detail-container .operation-container {
    gap: 1rem;
  }
  .main .book-detail-container .all-detail-container .operation-container #request-btn,
  .main .book-detail-container .all-detail-container .operation-container #wishlist-btn,
  .main .book-detail-container .all-detail-container .operation-container #cart-btn {
    padding: 6px 12px;
  }
}
@media (min-width: 1188px) {
  .main .book-detail-container .book-image-container {
    width: 340px;
  }
  .main .book-detail-container .book-image-container .top {
    width: 100%;
  }
  .main .book-detail-container .book-image-container .bottom {
    width: 100%;
  }
  .main .book-detail-container .all-detail-container {
    width: calc(100% - 200px);
  }
  .main .book-detail-container .all-detail-container .misc-container .misc-div {
    width: calc(33.33% - 1rem);
  }
}/*# sourceMappingURL=book-details.css.map */