// header
.header {
    position: fixed;
    top: 0;
    z-index: var(--fixed-z-index);
    background-color: white;

    .header-container {
        .header-logo {
            img {
                height: 3rem;
            }
        }

        .menu {
            display: flex;
            position: fixed;
            right: 0;
            top: 0;
            width: 70%;
            max-width: 300px;
            height: 100vh;
            background-color: rgba($color: #ffffff, $alpha: 1.0);
            box-shadow: 0 0 80px rgb(216, 214, 214);

            .search-form {
                width: 100%;

                input[type=search] {
                    width: 100%;
                    border-radius: 6px;
                    border: 1.5px solid rgb(179, 179, 179);
                    outline: none;
                }
            }

            .add-book,
            .wishlist,
            .cart {
                width: 100%;
            }

            .add-book {
                border: none;
                border-radius: 4px;
                background-color: var(--brand-color);
            }

            // notification
            .notification-section {
                margin-right: 4px;

                .icon-container {
                    .notification-counter {
                        top: -10px;
                        right: -10px;
                        color: rgb(250, 59, 59);
                    }
                }

                .notification-main-container {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    right: 0;
                    top: 34px;
                    box-shadow: 0 0 6px rgb(160, 159, 159);

                    .notification-container {
                        max-height: 80vh;
                        overflow-x: hidden;
                        overflow-y: scroll;

                        .notification {
                            padding: 10px 4px;

                            &:hover {
                                background-color: whitesmoke;
                            }

                            .notification-icon {
                                width: 34px;
                                aspect-ratio: 1/1;

                                img {
                                    width: 80%;
                                    height: 80%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .unclicked-notification {
                            background-color: whitesmoke;
                        }
                    }
                }
            }

            .profile-div {
                width: 100%;

                .profile-photo {
                    overflow: hidden;
                    width: 40px;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                }

                .profile-menu {
                    right: 0;
                    width: 100%;

                    ul {
                        padding: 0;
                        list-style: none;
                        border: 1px solid whitesmoke;
                        background-color: white;
                        margin: 0;

                        li {
                            display: flex;
                            gap: 0.5rem;
                            padding: 1rem 3rem 1rem 1rem;
                            margin: 0;
                            white-space: nowrap;
                            cursor: pointer;

                            &:hover {
                                background-color: whitesmoke;
                            }

                            i {
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:768px) {
    .header {
        .header-container {
            .menu {
                position: initial;
                max-width: initial;
                height: initial;
                box-shadow: initial;

                .search-form {
                    width: 100%;

                    input[type=search] {
                        width: 100%;
                        border-radius: 6px;
                        border: 1.5px solid rgb(179, 179, 179);
                        outline: none;
                    }
                }

                .add-book,
                .wishlist,
                .cart {
                    width: fit-content;
                }

                .profile-div {
                    position: relative;
                    width: fit-content;

                    .profile-menu {
                        position: absolute;
                        right: 100px;
                        width: 100%;
                        margin-top: 0px;
                        box-shadow: 0 0 12px whitesmoke;

                        ul {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
}