.header {
  position: fixed;
  top: 0;
  z-index: var(--fixed-z-index);
  background-color: white;
}
.header .header-container .header-logo img {
  height: 3rem;
}
.header .header-container .menu {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 80px rgb(216, 214, 214);
}
.header .header-container .menu .search-form {
  width: 100%;
}
.header .header-container .menu .search-form input[type=search] {
  width: 100%;
  border-radius: 6px;
  border: 1.5px solid rgb(179, 179, 179);
  outline: none;
}
.header .header-container .menu .add-book,
.header .header-container .menu .wishlist,
.header .header-container .menu .cart {
  width: 100%;
}
.header .header-container .menu .add-book {
  border: none;
  border-radius: 4px;
  background-color: var(--brand-color);
}
.header .header-container .menu .notification-section {
  margin-right: 4px;
}
.header .header-container .menu .notification-section .icon-container .notification-counter {
  top: -10px;
  right: -10px;
  color: rgb(250, 59, 59);
}
.header .header-container .menu .notification-section .notification-main-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  right: 0;
  top: 34px;
  box-shadow: 0 0 6px rgb(160, 159, 159);
}
.header .header-container .menu .notification-section .notification-main-container .notification-container {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.header .header-container .menu .notification-section .notification-main-container .notification-container .notification {
  padding: 10px 4px;
}
.header .header-container .menu .notification-section .notification-main-container .notification-container .notification:hover {
  background-color: whitesmoke;
}
.header .header-container .menu .notification-section .notification-main-container .notification-container .notification .notification-icon {
  width: 34px;
  aspect-ratio: 1/1;
}
.header .header-container .menu .notification-section .notification-main-container .notification-container .notification .notification-icon img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header-container .menu .notification-section .notification-main-container .notification-container .unclicked-notification {
  background-color: whitesmoke;
}
.header .header-container .menu .profile-div {
  width: 100%;
}
.header .header-container .menu .profile-div .profile-photo {
  overflow: hidden;
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.header .header-container .menu .profile-div .profile-menu {
  right: 0;
  width: 100%;
}
.header .header-container .menu .profile-div .profile-menu ul {
  padding: 0;
  list-style: none;
  border: 1px solid whitesmoke;
  background-color: white;
  margin: 0;
}
.header .header-container .menu .profile-div .profile-menu ul li {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 3rem 1rem 1rem;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
}
.header .header-container .menu .profile-div .profile-menu ul li:hover {
  background-color: whitesmoke;
}
.header .header-container .menu .profile-div .profile-menu ul li i {
  width: 14px;
}

@media (min-width: 768px) {
  .header .header-container .menu {
    position: initial;
    max-width: initial;
    height: initial;
    box-shadow: initial;
  }
  .header .header-container .menu .search-form {
    width: 100%;
  }
  .header .header-container .menu .search-form input[type=search] {
    width: 100%;
    border-radius: 6px;
    border: 1.5px solid rgb(179, 179, 179);
    outline: none;
  }
  .header .header-container .menu .add-book,
  .header .header-container .menu .wishlist,
  .header .header-container .menu .cart {
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .header-container .menu .profile-div {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .header-container .menu .profile-div .profile-menu {
    position: absolute;
    right: 100px;
    width: 100%;
    margin-top: 0px;
    box-shadow: 0 0 12px whitesmoke;
  }
  .header .header-container .menu .profile-div .profile-menu ul {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=header.css.map */