// main content
.main {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    padding-bottom: 7rem;
}

// landing section
.landing-section {
    overflow: hidden;
    gap: 1rem;
    margin-top: 6rem;

    .landing-detail {
        align-items: center;
        row-gap: 1.5rem;

        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;

        }

        .detail {
            text-align: center;
            font-size: 1.1rem;
        }

        .btn {
            width: fit-content;
            height: fit-content;
            font-size: 1.1rem;
            padding: 6px 24px;
            background-color: var(--brand-color);
        }
    }
}

// feature section
.feature-section {
    text-align: center;

    .description {
        padding: 1rem 0;
        font-size: 1.25rem;
    }

    .feature-card-container {
        flex-wrap: wrap;
        margin: auto;

        .card {
            margin: auto;
            // width: 20rem;
            width: 100%;

            .card-body {
                .card-text {
                    font-size: 1.1rem;
                }

                .btn {
                    font-size: 1.1rem;
                    padding: 6px 18px;
                }
            }
        }
    }
}

// genre section
.genre-section {
    text-align: center;
    row-gap: 2rem;

    .description {
        font-size: 1.25rem;
    }

    .genre-card-container {
        flex-wrap: wrap;

        .genre-card {
            margin: auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 80px;
            row-gap: 10px;

            .top {
                width: 100%;
                height: 80px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 100%;
                background-color: whitesmoke;

                img {
                    margin: auto;
                    height: 60%;
                    width: 60%;
                    object-fit: cover;
                }
            }

            .bottom {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// responsive section
// tablet
@media (min-width: 768px) {

    // landing section
    .landing-section {
        .landing-detail {
            .title {
                font-size: 4.3rem;
                line-height: 70px;
            }

            .detail {
                font-size: 1.5rem;
            }
        }
    }

    // feature section
    .feature-section {
        .feature-card-container {
            .card {
                margin: 0;
                width: 20rem;
            }
        }
    }

    // genre section
    .genre-section {
        .genre-card-container {
            .genre-card {
                margin: 0;
            }
        }
    }
}

// desktop
@media (min-width: 992px) {
    .main {

        // landing section
        .landing-section {
            overflow: hidden;
            gap: 1rem;
            margin-top: 6rem;
            padding: 3.5rem 1rem;

            .landing-detail {
                padding: 5rem 5rem;

                .btn {
                    font-size: 1.50rem;
                }
            }
        }
    }
}