// main content
.main{
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    padding-bottom: 7rem;
}

// landing section
.landing-section {
    overflow: hidden;
    gap: 1rem;
    margin-top: 6rem;
    padding: 3.5rem 1rem;

    .landing-detail {
        row-gap: 1.5rem;
        padding:  5rem 5rem;
        align-items: center;

        .title{
            text-align: center;
            font-size: 4.3rem;
            font-weight: bolder;
            line-height: 70px;
        }
        
        .detail{
            text-align: center;
            font-size: 1.5rem;
        }

        .btn {
            width: fit-content;
            height: fit-content;
            font-size: 1.50rem;
            padding: 6px 24px;
            background-color: var(--brand-color);
        }
    }
}

// feature section
.feature-section{
    text-align: center;
    
    .description {
        padding: 1rem 0;
        font-size: 1.25rem;
    }

    .feature-card-container{
        flex-wrap: wrap;
        margin: auto;
        .card{
            margin: auto;
            width: 20rem;
            .card-body{
                .card-text{
                    font-size: 1.1rem;
                }

                .btn{
                    font-size: 1.1rem;
                    padding: 6px 18px;
                }
            }
        }
    }
}

// genre section
.genre-section {
    text-align: center;
    row-gap: 2rem;

    .description{
        font-size: 1.25rem;
    }

    .genre-card-container {
        flex-wrap: wrap;
        .genre-card {
            margin: auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 80px;
            row-gap: 10px;

            .top {
                width: 100%;
                height: 80px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 100%;
                background-color: whitesmoke;

                img {
                    margin: auto;
                    height: 60%;
                    width: 60%;
                    object-fit: cover;
                }
            }

            .bottom {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}