.main {
  row-gap: 4rem;
  padding-bottom: 7rem;
}

.header {
  position: fixed;
  z-index: var(--fixed-z-index);
  background-color: white;
}
.header .header-container {
  position: relative;
  margin: auto;
  background-color: white;
}
.header .header-container .header-logo img {
  height: 3rem;
}
.header .header-container .header-logo h3 {
  font-family: "poppins";
}
.header .header-container .nav-container {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
}
.header .header-container .nav-container .nav {
  display: flex;
  flex-direction: column;
  width: 280px;
  float: right;
  height: 100vh;
  background-color: white;
  box-shadow: -4px 0 8px rgb(184, 184, 184);
}
.header .header-container .nav-container .nav .close-nav-div {
  text-align: right;
}
.header .header-container .nav-container .nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.header .header-container .nav-container .nav ul li {
  padding: 1rem;
  padding-right: 8rem;
  padding-left: 2rem;
}
.header .header-container .nav-container .nav ul li a {
  font-size: 1.3rem;
  color: black;
}
.header .header-container .nav-container .nav ul li a:hover {
  color: rgb(31, 31, 31);
}
.header .header-container .nav-container .nav .signin-div {
  padding-left: 2rem;
  padding-right: 2rem;
}
.header .header-container .nav-container .nav .signin-div .btn {
  background-color: var(--brand-color);
}
.header .header-container .menu-signin #open-nav-menu {
  display: flex;
}
.header .header-container .menu-signin .btn {
  display: none;
  background-color: var(--brand-color);
}

@media (min-width: 992px) {
  .header .header-container .nav-container {
    position: initial;
    top: initial;
    right: initial;
    width: initial;
    width: 65%;
    height: initial;
    background-color: initial;
  }
  .header .header-container .nav-container .nav {
    flex-direction: row;
    width: initial;
    max-width: initial;
    float: initial;
    height: initial;
    background-color: initial;
    align-items: center;
    box-shadow: initial;
  }
  .header .header-container .nav-container .nav .close-nav-div {
    display: none;
    background-color: red;
  }
  .header .header-container .nav-container .nav ul {
    flex-direction: row;
    gap: 3rem;
  }
  .header .header-container .nav-container .nav ul li {
    padding: initial;
    padding-right: initial;
    padding-left: initial;
  }
  .header .header-container .nav-container .nav .signin-div {
    display: none;
  }
  .header .header-container .menu-signin #open-nav-menu {
    display: none;
  }
  .header .header-container .menu-signin .btn {
    display: initial;
  }
}
.landing-container .detail .heading {
  font-size: 4rem;
  line-height: 4.5rem;
  transform: scaleY(1.3);
}
.landing-container .detail .btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--brand-color);
}
.landing-container .image-container img {
  width: 100%;
}

.feature-section .description {
  padding: 1rem 0;
  font-size: 1.25rem;
}
.feature-section .feature-card-container {
  flex-wrap: wrap;
}
.feature-section .feature-card-container .card {
  flex-grow: 1;
  width: 100%;
}
.feature-section .feature-card-container .card .feature-image {
  width: 100%;
  aspect-ratio: 3/2;
  overflow: hidden;
}
.feature-section .feature-card-container .card .card-body .card-title {
  color: rgb(70, 70, 70);
  font-weight: bold;
}
.feature-section .feature-card-container .card .card-body .card-text {
  font-size: 1.1rem;
}

.genre-section .genre-container {
  padding: 0;
}
.genre-section .genre-container .genre-card {
  flex-grow: 1;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(207, 206, 206);
}
.genre-section .genre-container .genre-card:hover {
  background-color: whitesmoke;
}
.genre-section .genre-container .genre-card .genre-title {
  margin: 0;
  font-size: 1.2rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feature-section .feature-card-container .card {
    margin: 0;
    width: 20rem;
  }
}/*# sourceMappingURL=landing.css.map */