// main content
.main {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    padding-top: 6rem;
    padding-bottom: 7rem;
}

// header
.header{
    position: fixed;
    z-index: var(--fixed-z-index);
    background-color: white;
    .header-container{
        .header-logo{
            img{
                height: 3rem;
            }
        }

        .search-signin{
            position: fixed;
            right: 0;
            top: 0;
            width: 70%;
            max-width: 300px;
            height: 100vh;
            background-color: rgba($color: #ffffff, $alpha: 1.0);
            box-shadow: 0 0 80px rgb(216, 214, 214);
            .search-form{
                width: 100%;
                input[type=search]{
                    width: 100%;
                    border-radius: 6px;
                    border: 1.5px solid rgb(179, 179, 179);
                    outline: none;
                }
            }

            a{
                background-color: var(--brand-color);
                border: none;
                color: white;
            }
        }
    }
}

@media (min-width:768px){
    .header{
        .header-container{
            .search-signin{
                box-shadow: none;
                background-color: none;
                height: fit-content;
                position: initial;

                #signin-btn-trigger{
                    padding: initial;
                    width: 130px;
                    background-color: var(--brand-color);
                }
            }
        }
    }
}

// landing section
.landing-section {
    overflow: hidden;
    gap: 1rem;
    margin-top: 6rem;

    .landing-detail {
        align-items: center;
        row-gap: 1.5rem;

        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;

        }

        .detail {
            text-align: center;
            font-size: 1.1rem;
        }

        .btn {
            width: fit-content;
            height: fit-content;
            font-size: 1.1rem;
            padding: 6px 24px;
            background-color: var(--brand-color);
        }
    }
}

// feature section
.feature-section {
    .description {
        padding: 1rem 0;
        font-size: 1.25rem;
    }

    .feature-card-container {
        flex-wrap: wrap;

        .card {
            flex-grow: 1;
            width: 100%;

            // max-width: 250px;
            .feature-image {
                width: 100%;
                aspect-ratio: 3/2;
                overflow: hidden;
            }

            .card-body {
                .card-title {
                    color: rgb(70, 70, 70);
                    font-weight: bold;
                }

                .card-text {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

// genre section
.genre-section {
    .genre-container {
        padding: 0;

        .genre-card {
            flex-grow: 1;
            padding: 0.8rem 1rem;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid rgb(207, 206, 206);

            &:hover {
                background-color: whitesmoke;
            }

            .genre-title {
                margin: 0;
                font-size: 1.2rem;
                margin: 0 auto;
            }
        }
    }
}

// responsive section
// tablet
@media (min-width: 768px) {

    // landing section
    .landing-section {
        .landing-detail {
            .title {
                font-size: 4.3rem;
                line-height: 70px;
            }

            .detail {
                font-size: 1.5rem;
            }
        }
    }

    // feature section
    .feature-section {
        .feature-card-container {
            .card {
                margin: 0;
                width: 20rem;
            }
        }
    }
}

// desktop
@media (min-width: 992px) {
    .main {

        // landing section
        .landing-section {
            overflow: hidden;
            gap: 1rem;
            margin-top: 6rem;
            padding: 3.5rem 1rem;

            .landing-detail {
                padding: 5rem 5rem;

                .btn {
                    font-size: 1.50rem;
                }
            }
        }
    }
}