* {
    font-family: "Helvetica", sans-serif;
    // font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

:root {
    --brand-color: rgb(240, 134, 36);

    // base color
    --base-color: #5454C7;
    --base-light-color: #CCCCFF;
    --base-dark-color: #020249;

    // new
    --base-color: rgb(23, 101, 227);
    --base-dark-color: rgb(17, 80, 182);

    // secondary colors
    --warning-color: #C79D54;
    --danger-color: #cc3333;
    --success-color: #28ad49;

    // neutral colors
    --neutral-lighest-color: #f8f8f8;
    --neutral-light-color: #666666;
    --neutral-normal-color: #4B4B4B;
    --neutral-dark-color: #1A1A1A;

    --shadow-color: rgb(230, 230, 230);

    /* font size */
    --fs-small: 0.75rem;
    --fs-form: 0.95rem;
    --fs-normal: 1rem;
    --fs-large: 1.25rem;
    --fs-larger: 1.75rem;
    --fs-largest: 2rem;

    /* shadow */
    --shadow-style: -2px 2px 4px 0 var(--shadow-color);
}


a{
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

body {
    margin: 0 auto;
    position: relative;
    box-sizing: inherit;
}

.input[type="text"]{
    background-color: red;
}

.f-reset{
    padding: 0;
    margin: 0;
}

.section{
    margin-top: 60px;
    margin-top: 30px;
}

.pointer{
    cursor: pointer;
}

// overriding bootstrap classes
// table class
.table{
    width: 100%;

    tbody{
        tr{
            td{
                &:hover{
                    background-color: whitesmoke;
                }
            }
        }
    }

    #table-foot{
        tr{
            td{
                color: var(--brand-color);
                text-align: center;
            }
        }
    }
}