// table top section - filter & search
.table-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    // filter
    .filter-div {
        display: flex;
        gap: 6px;
        flex-direction: row;
        align-items: center;

        #filter-icon{
            color: grey;
            margin-right: 5px;
        }

        select {
            line-height: 14px;
            width: auto;
        }

        .clear-filter-div {
            display: flex;
            flex-direction: row;
            text-wrap: nowrap;
            align-items: center;
            gap: 8px;
            padding: 2px 6px;
            border-radius: 6px;
            border: 1px solid rgb(211, 211, 211);
            cursor: pointer;

            i {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }

    }

    .search-clear{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .clear-search-div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            padding: 2px 6px;
            border-radius: 6px;
            cursor: pointer;
            border: 1px solid rgb(211, 211, 211);
            
            p{
                font-size: 12px;
            }
        }

        .search-container {
            display: flex;
            flex-direction: row;

            input{
                padding: 2px 6px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                border: 1px solid rgb(233, 233, 233);
            }

            .search-icon-div {
                cursor: pointer;
                display: flex;
                padding: 0px 16px;
                align-items: center;
                background-color: black;
                background-color: var(--brand-color);
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                i {
                    color: white;
                }
            }
        }
    }

}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

// card v1
.card-v1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 155px;
    border: 1px solid whitesmoke;
    padding: 10px 10px;
    width: auto;
    flex-wrap: wrap;
    border-radius: 6px;

    p {
        margin: 0;
    }

    .card-v1-title {
        color: grey;
    }

    .card-v1-detail {
        font-weight: bold;
        font-size: 18px;
        color: var(--brand-color);
    }
}