// top section
.count-card-new-users {
    row-gap: 1rem;
    .new-user-div {
        height: fit-content;
        width: fit-content;
        border: 2px solid rgb(71, 165, 95);

        .profile-container {
            gap: 00px;

            .profile-div {
                width: 24px;
                height: 24px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .label {
            p {
                font-size: 13px;
            }
        }
    }
}

// offer and request
.offer-request {
    .offer-container {
        width: 50%;

        .offer-div {
            border-radius: 12px;
            padding: 6px;
            border: 1px solid rgb(216, 216, 216);

            overflow: hidden;

            .offer-table {
                margin-bottom: 0;
                border: 0px solid white;

                .offer-book-image-container {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;

                    .offer-book-div {
                        width: 24px;
                        height: 24px;
                        background-color: red;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .request-container {
        width: 50%;

        .heading {
            p {
                font-weight: 600;
            }
        }

        .request-div {
            padding: 6px;
            overflow: hidden;
            border-radius: 12px;
            border: 1px solid rgb(216, 216, 216);

            .request-table {
                margin-bottom: 0;
                border: 0px solid white;
            }
        }
    }
}

// recently arrived books
.recently-arrived-books-container {
    .recently-arrived-books-div {
        .recently-arrived-book {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 6px;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                transform: scale3d(1.1, 1.1, 1.1);
                transition: 0.4s;
            }

            .image-div {
                width: 120px;
                height: 160px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .title,
            .genre {
                p {
                    margin: 0;
                }
            }

            .genre {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

// rent ending
.rent-ending-container {
    .rent-ending-div {
        .rent-ending {
            display: flex;
            flex-direction: row;

            .image-div {
                width: 120px;
                height: 160px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-div {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 6px 12px;
                background-color: whitesmoke;

                p {
                    margin: 0;
                }

                .remaining-days-div {
                    .remaining-days {
                        color: var(--danger-color);
                        font-weight: bold;
                        font-size: 1.5rem;

                        span {
                            color: rgb(59, 59, 59);
                            font-weight: 400;
                            font-size: 1rem;
                        }
                    }
                }

                .title-div {
                    p {
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }

                .contact-div {
                    button {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// book review
.book-review-container {
    .book-review-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        
        .book-review {
            width: calc(50% - 0.5rem);
            min-width: 400px;
            display: flex;
            flex-direction: row;

            .image-div {
                width: 90px;
                height: 120px;
                min-width: 90px;
                min-height: 120px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-div {
                display: flex;
                flex-direction: column;
                gap: 0px;
                padding: 6px;

                p {
                    margin: 0;
                }

                .reader-div {
                    p {
                        font-weight: 600;
                        color: grey;
                    }
                }

                .review-div {
                    max-height: 62px;
                    overflow: hidden;
                }

                .rating-div {
                    img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }
}